{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to The Review Page{% endblock %}</h1>
    <h3>Feel free to leave a review about the course!</h3>
    <div class="form-group">
        <button type="submit" onclick="window.location.href = '{{url_for('create')}}' ;"class="btn btn-primary">Add a Review</button>
    </div>
    {% for post in posts %}
        <!-- <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr> -->
        

        <a href="{{ url_for('post', post_id=post['id'])}}" >
            <h2>{{ post['title']}}</h2>
        </a>
        <span class="badge badge-primary"> {{ post['created']}}</span>
        <a href="{{url_for('edit', id=post['id'])}}">
            <span class="badge badge warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
    
    

    

{% endblock %}

